<!-- Start Search Popup -->
<div class="box-search-content search_active block-bg close__top">
    <form id="search_mini_form" class="minisearch" action="#">
        <div class="field__search">
            <input type="text" placeholder="Search entire store here...">
            <div class="action">
                <a href="#"><i class="zmdi zmdi-search"></i></a>
            </div>
        </div>
    </form>
    <div class="close__wrap">
        <span>Đóng</span>
    </div>
</div>
<!-- End Search Popup -->
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">Sản phẩm</h2>
                    <nav class="bradcaump-content">
                      <a class="breadcrumb_item" href="/">Trang Chủ</a>
                      <span class="brd-separetor">/</span>
                      <span class="breadcrumb_item active">Sản phẩm</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Shop Page -->
<div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
                <div class="shop__sidebar">
                    <aside class="wedget__categories poroduct--cat">
                        <h3 class="wedget__title">Thể Loại</h3>
                        <ul>
                            <li><a href="#">Tiểu Sử  <span>(3)</span></a></li>
                            <li><a href="#">Kinh Doanh <span>(4)</span></a></li>
                            <li><a href="#">Sách Nấu Ăn <span>(6)</span></a></li>
                            <li><a href="#">Sức Khỏe & Thể Hình <span>(7)</span></a></li>
                            <li><a href="#">Lịch Sử <span>(8)</span></a></li>
                            <li><a href="#">Huyền Bí <span>(9)</span></a></li>
                            <li><a href="#">Sách Cảm Hứng <span>(13)</span></a></li>
                            <li><a href="#">Lãng Mạn <span>(20)</span></a></li>
                            <li><a href="#">Viễn Tưởng/Ảo Tưởng <span>(22)</span></a></li>
                            <li><a href="#">Phát Triển Bản Thân <span>(13)</span></a></li>
                            <li><a href="#">Sách Hài Hước <span>(17)</span></a></li>
                            <li><a href="#">Harry Potter <span>(20)</span></a></li>
                            <li><a href="#">Âm Nhạc <span>(60)</span></a></li>
                        </ul>
                    </aside>
                    <aside class="wedget__categories pro--range">
                        <h3 class="wedget__title">Lọc Theo Giá</h3>
                        <div class="content-shopby">
                            <div class="price_filter s-filter clear">
                                <form action="#" method="GET">
                                    <div id="slider-range"></div>
                                    <div class="slider__range--output">
                                        <div class="price__output--wrap">
                                            <div class="price--output">
                                                <span>Price :</span><input type="text" id="amount" readonly="">
                                            </div>
                                            <div class="price--filter">
                                                <a href="#">Lọc</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </aside>
                    <aside class="wedget__categories poroduct--tag">
                        <h3 class="wedget__title">Product Tags</h3>
                        <ul>                                              
                            <li><a href="#">Tiểu Sử</a></li>
                            <li><a href="#">Kinh Doanh</a></li>
                            <li><a href="#">Sách Nấu Ăn</a></li>
                            <li><a href="#">Sức Khỏe & Thể Hình</a></li>
                            <li><a href="#">Lịch Sử</a></li>
                            <li><a href="#">Huyền Bí</a></li>
                            <li><a href="#">Sách Cảm Hứng</a></li>
                            <li><a href="#">Tôn Giáo</a></li>
                            <li><a href="#">Viễn Tưởng/Ảo Tưởng</a></li>
                            <li><a href="#">Phát Triển Bản Thân</a></li>
                            <li><a href="#">Truyện Cười</a></li>
                        </ul>
                    </aside>
                    <aside class="wedget__categories sidebar--banner">
                        <img src="images/others/banner_left.jpg" alt="banner images">
                        <div class="text">
                            <h2>Ấn Phẩm Mới </h2>
                            <h6>tiết kiệm tới <br> <strong>40%</strong>giá</h6>
                        </div>
                    </aside>
                </div>
            </div>
            <div class="col-lg-9 col-12 order-1 order-lg-2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
                            <div class="shop__list nav justify-content-center" role="tablist">
                                <a class="nav-item nav-link active" data-toggle="tab" href="#nav-grid" role="tab"><i class="fa fa-th"></i></a>
                                <a class="nav-item nav-link" data-toggle="tab" href="#nav-list" role="tab"><i class="fa fa-list"></i></a>
                            </div>
                            <p>Hiển Thị 1–12 của 40 kết quả</p>
                            <div class="orderby__wrapper">
                                <span>Sắp Xếp Theo</span>
                                <select class="shot__byselect">
                                    <option>Mặc Định</option>
                                    <option>Theo tên</option>
                                    <option>Theo ngày ra mắt</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab__container">
                    <div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
                        <div class="row">
                            <!-- Start Single Product -->
                            <% data.forEach(function(item){%>
                                <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                    <div class="product__thumb">
                                        <a class="first__img" href="/single-product"><img src="<%= item.anhMinhHoa%>" alt="product image"></a>
                                        <a class="second__img animation1" href="/single-product"><img src="<%= item.anhMinhHoa%>" alt="product image"></a>
                                        <div class="hot__box">
                                            <span class="hot-label"><%= item.danhMuc%></span>
                                        </div>
                                    </div>
                                    <div class="product__content content--center">
                                        <h4><a href="/single-product"><%= item.ten%></a></h4>
                                        <ul class="prize d-flex">
                                            <li><%= item.gia%> VND</li>
                                            <li class="old_prize"><%= item.giaKhuyenMai%> VND</li>
                                        </ul>
                                        <div class="action">
                                            <div class="actions_inner">
                                                <ul class="add_to_links">
                                                    <li><a class="cart" href="/checkout"><i class="bi bi-shopping-bag4"></i></a></li>
                                                    <li><a class="wishlist" href="/wishlist"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                    <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                    <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product__hover--content">
                                            <ul class="rating d-flex">
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            <%})%>                           
                            <!-- End Single Product -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->